{% extends 'base2.html' %}

{% load staticfiles %}

{% block content %}
<div class="routines">

<button onclick="location.href='{% static 'Routine_19_8_19_.pdf' %}'";type="button" class="btn btn-primary btn-lg btn-block">CSE</button>
<button onclick="location.href='{% static 'ete.fe6003e30b9d6bd181e047143a27b1691f44c0a5.pdf' %}'";type="button" class="btn btn-primary btn-lg btn-block">ETE</button>
    <button onclick="location.href='{% static 'ece.64cb8b29005bad636437ce904de50cfbc809d492.pdf' %}'";type="button" class="btn btn-primary btn-lg btn-block">ECE</button>
<button onclick="location.href='{% static 'mte.c1dd700643b42c08f632cbdc8047a7a543845f84.pdf' %}'"; type="button" class="btn btn-primary btn-lg btn-block">MTE</button>
    <button onclick="location.href='{% static 'eee.4752fb7333e4125edfa3b344de1fab807ca68f74.pdf' %}'";type="button" class="btn btn-primary btn-lg btn-block">EEE</button>
    <button onclick="location.href='{% static 'urp4285695e0d9bfe2ca2052dcd50d602679b336b98.pdf' %}'";type="button" class="btn btn-primary btn-lg btn-block">URP</button>
     <button onclick="location.href='{% static 'qsu1r-cvveh.pdf' %}'";type="button" class="btn btn-primary btn-lg btn-block">IPE</button>
     <button onclick="location.href='{% static 'f36a7a192c7a8477076fe54b08c7c45c80756b4d.doc' %}'";type="button" class="btn btn-primary btn-lg btn-block">CFPE</button>

</div>




</br>
</br>
</br>
</br>

{% endblock %}