{% extends 'base2.html' %}
 {% load staticfiles %}
{% block content %}

<div class="routines">
</br>
    </br>
    </br>
<button onclick="location.href='{% url 'CSE'%}'";type="button" class="btn btn-primary btn-lg btn-block">CSE</button>
<button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">ETE</button>
    <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">ECE</button>
<button onclick="location.href="; type="button" class="btn btn-primary btn-lg btn-block">MTE</button>
    <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">EEE</button>
    <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">URP</button>
     <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">IPE</button>
     <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">CFPE</button>

</div>
{% endblock %}







</body>
</html>