<!Doctype html>
<html>
<head></head>
<body>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="routines">

<button onclick="location.href='{% url 'CSE'%}'";type="button" class="btn btn-primary btn-lg btn-block">CSE</button>
<button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">ETE</button>
    <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">ECE</button>
<button onclick="location.href="; type="button" class="btn btn-primary btn-lg btn-block">MTE</button>
    <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">EEE</button>
    <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">URP</button>
     <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">IPE</button>
     <button onclick="location.href=";type="button" class="btn btn-primary btn-lg btn-block">CFPE</button>

</div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>








</body>
</html>