<html>

<head>
    <title>Course Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>


    <div class="container p-5">
        <h3>COURSE REGISTRATION FORM</h3>

        <!-- PASTE HERE -->
        {% if error %}
        <div>
            <p style="color: red;">
                {{ error }}
            </p>
        </div>
        {% endif %}



        <form method="POST" class="my-4">
            {% csrf_token %}
            <!----- First Name ---------------------------------------------------------->
                <label>First Name</label><br>
                <input type="text" name="fname" maxlength="30" /><br><br>

            <!----- Last Name ---------------------------------------------------------->
            <label>Last Name</label><br>
            <input type="text" name="lname" maxlength="30" /><br>

            <label>Department</label><br>
            <input type="text" name="dept" maxlength="30" /><br>

            <label>Email address</label><br>
            <input type="text" name="email" maxlength="30" /><br>


            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-6">
                        <label>Year</label><br>
                        <input type="text" name="year" maxlength="30" /><br><br>
                    </div>
                    <div class="col-md-6">
                        <label>Semester</label><br>
                        <input type="text" name="sem" maxlength="30" /><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Roll</label><br>
                        <input type="text" name="roll" maxlength="30" /><br><br>
                    </div>
                    <div class="col-md-6">
                        <label>Registration Number</label><br>
                        <input type="text" name="regno" maxlength="30" /><br><br>
                    </div>
<!-- previously earned credit -->
<div class="col-md-6">
    <label>Previously Earned Credit</label><br>
    <input type="text" name="pec" maxlength="3" /><br><br>
</div>


                </div>
            </div>




            <label>Registered Courses</label>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h4>Course Number</h4>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4>Course Name</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="cno1">
                    </div>
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="coname1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="cno2">
                    </div>
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="coname2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="cno3">
                    </div>
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="coname3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="cno4">
                    </div>
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="coname4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="cno5">
                    </div>
                    <div class="col-md-6">
                        <input style="width: 100%;" type="text" name="coname5"><br><br>
                    </div>
                </div>
            </div>

            <button class="p-1" style="width: 10%;" type="submit">Submit</button>

        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
